extends ../layout
block content
  .container-fluid(ng-app='demos_cfg' ng-controller='main_control')
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href="/")
                span(class="glyphicon glyphicon-home" aria-hidden="true")  Inicio
            li
              a(href='/productos')
               span(class="glyphicon glyphicon-list" aria-hidden="true")  Productos
            li
              a(href='/productos/add')
               span(class="glyphicon glyphicon-plus" aria-hidden="true")  Producto
            
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h2 #{productos[0].nombre}
          p #{productos[0].descripcion}